@tailwind base;
@tailwind components;
@tailwind utilities;

.disabled {
  pointer-events: none;
}

.main-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-page > .flex {
  flex-grow: 1;
  display: flex;
}

.panel-left, .panel-right {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
